# База данных PostgreSQL
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/mm_detailing?sslmode=require"

# NextAuth
AUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

# Email (Resend)
RESEND_API_KEY=""

# Email админа для уведомлений
ADMIN_EMAIL=""
